<script src="{{ url_for('static', filename='js/timetable/constants.js') }}"></script>
<script src="{{ url_for('static', filename='js/timetable/utils.js') }}"></script>
<script src="{{ url_for('static', filename='js/timetable/api.js') }}"></script>
<script src="{{ url_for('static', filename='js/timetable/grid.js') }}"></script>
<script src="{{ url_for('static', filename='js/timetable/availability.js') }}"></script>
<script src="{{ url_for('static', filename='js/timetable/modal.js') }}"></script>
<script src="{{ url_for('static', filename='js/timetable/app.js') }}"></script>
